body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "navigation navigation navigation"
        "leftbar content rightbar"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    max-width: 1500px;
    width: 100%;
    padding: 20px;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}
.navigation {
    grid-area: navigation;
    background-color: #2196F3;
    color: white;
    padding: 20px;
    text-align: center;
}

.leftbar {
    grid-area: leftbar;
    background-color: #FFC107;
    color: black;
    padding: 20px;
    text-align: center;
}

.content {
    grid-area: content;
    background-color: #ffffff;
    color: black;
    padding: 20px;
    text-align: center;
}

.rightbar {
    grid-area: rightbar;
    background-color: #FF5722;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
